
/**
    *编辑器         \View\css\diy\editPageComm.css
    *编辑器-预览    \View\css\diy\pageCom.css
    *编辑器-发布    \Model\viewsRes\publish\comm.css
*/
@charset "utf-8";
/*----------------公共部分----------------*/
html{overflow-x:hidden; overflow-y:auto;}
body{ background-repeat:no-repeat; background-position:left top; position:relative; overflow-x: hidden;}
body, li, ul, ol, dl, dt, dd, form, input, textarea, h1, h2, h3, h4, h5, h6, p,select{ margin: 0px; padding: 0px; list-style-type:none; font-size: 12px; font:12px/1.5 tahoma,arial,"Microsoft YaHei";outline: 0 none; color:#333;}
em,i{font-style:normal;}
a{color:#333;}
a{text-decoration:none;}
*{margin:0px; padding:0px;outline: none !important;}
img {-ms-interpolation-mode:bicubic; border:none;}
.view{z-index: 1;position: absolute;}
.horizontal .view{position:relative; float:left;}
.vertical .view{position:relative;}
.view_contents{position:relative; width:100%; margin:0 auto; padding:0; z-index:10; height:100%; overflow: hidden; box-sizing: border-box;/*添加后，模块的内边距和边框不会再溢出*/}
.layout{ position: relative; width: 100%; margin: 0px auto; padding: 0px; z-index: 1;}
.layout > .view_contents{ /*overflow: visible;*/ cursor:default;}
/*流布局*/
.flow .view_contents > .view{float: left;}
.clear { clear: both; }
/*苹果去除样式*/
select,input[type='button'],input[type="reset"],input[type='submit'],input[type='text'],input[type="password"],input[name='query'],input[name='d']{-webkit-appearance: none; border-radius:0px}
input:focus{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only;}

/*模块分页*/
.page_btn{clear: both; margin-top: 20px; width: 100%; text-align: center;}
.page_btn a{display: inline-block; color: #333; box-sizing: border-box; margin: 0 5px; width: 24px; height: 24px; line-height: 24px; border: 1px solid #ccc; font-family: 'microsoft YaHei';}
.page_btn a.cur,.page_btn a:hover{border:1px solid #4c4c4c;}
.prev_btn,.next_btn{font-family: '黑体' !important; border: 0 !important;}
.no_page{border: 0 !important;}
@media screen and (max-width:768px){
/*分页*/
.page_btn a:nth-child(n+5){display: none;}
.page_btn a:nth-last-child(1),.page_btn a:nth-last-child(2),.page_btn a:nth-last-child(3){display: inline-block !important;}
}

/*图片放大样式*/
.imgBox{position: fixed; z-index: 9999; background-color: rgba(0, 0, 0, 0.4); top: 0; left: 0; width: 100%; height: 100%;}
.imgBox img{ position: absolute; width: auto; max-width: 80%; /*max-height: 65%;*/ border: 20px solid #fff;top: 40%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); box-shadow: 0 0 10px rgba(0,0,0,.3);}
.imgBox.scroll{overflow-y:scroll;overflow-x:hidden;}
.imgBox.scroll::-webkit-scrollbar {width: 6px; height: 6px; background: rgba(0,0,0,.05);}
.imgBox.scroll::-webkit-scrollbar{width: 6px; height: 6px; background: rgba(0,0,0,.02);}
.imgBox.scroll::-webkit-scrollbar-button{background: #f7f7f7; height: 0;}
.imgBox.scroll::-webkit-scrollbar-corner{background: rgba(0,0,0,.05);}
.imgBox.scroll::-webkit-scrollbar-thumb{background: rgba(255,255,255,.7); border-radius: 3px;}

.imgBox.scroll img{top:5%; margin-bottom: 5%; transform: translate(-50%,0%); -webkit-transform: translate(-50%,0%); -moz-transform: translate(-50%,0%); -o-transform: translate(-50%,0%);}
.pos_fixed{position: fixed; width: 100%;}
.imageButton{position: fixed; bottom: 15%; left: 50%; 
	-webkit-transform: translateX(-50%); 
	-moz-transform: translateX(-50%); 
	-ms-transform: translateX(-50%); 
	-o-transform: translateX(-50%); 
	transform: translateX(-50%); 
}
.imageButton span{display: inline-block; cursor:pointer; box-shadow: 0 0 6px rgba(0,0,0,.2);
	-webkit-transition: all ease .2s; 
	-moz-transition: all ease .2s; 
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s; 
	transition: all ease .2s; 
}
.imageButton span:hover{opacity: .8;}
.imageButton span.closeShowPic{ font-size: 40px; border-radius: 100%;font-family: serif; line-height: 1; background-color: #fff; padding: .2em; text-align: center;}
@media screen and (max-width: 768px){/*mobi*/
	.imgBox img{border-width: 10px;}
	.imgBox.scroll img{top:5%; margin-bottom: 10vh;}
}

    .jurisdiction_mask{
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0,0.5);
        z-index: 2147483647;
		display:none;
    }
    .jurisdiction_tips{
        width: 400px;
        background: #ffffff;
        position: absolute;
        left: 50%;
        top: 45%;
        -ms-transform:translate(-50%,-50%);
        -webkit-transform:translate(-50%,-50%);
        -o-transform:translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        transform:translate(-50%,-50%);
        padding: 23px 20px;
        box-sizing: border-box;
        text-align: center;
    }
    .jurisdiction_tips img{
        display: block;
        margin: 0 auto;
    }
    .jurisdiction_tips h3{
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;color: #575757;
        text-align: center;
        margin: 5px 0 0;
    }
    .jurisdiction_tips p{
        color: #999;
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        margin: 0;
    }
    .jurisdiction_tips button{
        color: #fff;
        font-size: 12px;
        padding: 10px 0;
        margin: 10px 3px 0;
        background-color: #aaa;
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        outline: none !important;
        width: 98px;
    }
    .jurisdiction_tips .jurisdiction_login{
        background: #ff0099;
    }
    .jurisdiction_tips button:hover{
        opacity: 0.8;
    }
    .jurisdiction_tips_mobile{
        display: none;
    }
    @media screen and (max-width: 450px){
        .jurisdiction_tips{
            width: 80%;
            padding: 20px 15px;
        }
        .jurisdiction_tips p{
            display: none;
        }
        .jurisdiction_tips .jurisdiction_tips_mobile{
            display: block;
        }
        .jurisdiction_tips img{width: 60px;}
        .jurisdiction_tips h3{font-size: 16px;}
        .jurisdiction_tips p{
            font-size: 14px;
        }
        .jurisdiction_tips button{margin-top: 12px;padding: 8px 0;}
    }

body{ background-position:left top; }


 #dh_style_28_1566206800260{width:84.25%;z-index:999;position:absolute;top:86px;left:7.875%;}   @media screen and (min-width:641px) and (max-width:1200px) {#dh_style_28_1566206800260{z-index:999;left:calc(50% - 452.5px);width:905px;}}   @media screen and (max-width:640px) {#dh_style_28_1566206800260{width:14.399999999999999%;z-index:999;top:15.5px;left:83.06666666666666%;}} #dh_style_28_1566206800260 > .view_contents{overflow:visible;}  #dh_style_28_1566206800260 .mainMenuSet {color:#5b5b5b;font-size:16px;font-weight:normal;} #dh_style_28_1566206800260 .mainMenuSet:hover {color:#b9995a;} #dh_style_28_1566206800260 #hot>a {color:#b9995a;} @media screen and (max-width:640px) { #dh_style_28_1566206800260 .mainMenuSet {color:#dddddd;}}

 #image_logo_1566352484931{width:173px;height:35px;position:absolute;top:40px;left:calc(50% - 86.5px);}   @media screen and (min-width:641px) and (max-width:1200px) {#image_logo_1566352484931{left:calc(50% - 86.5px);}}   @media screen and (max-width:640px) {#image_logo_1566352484931{width:173px;height:35px;top:20px;left:2%;}}  #comm_layout_header{height:147px;z-index:99999;}   @media screen and (min-width:641px) and (max-width:1200px) {#comm_layout_header{}}   @media screen and (max-width:640px) {#comm_layout_header{height:76px;}} #comm_layout_header > .view_contents{max-width:1200px;overflow:visible;} 


 #newsDetail_style_01_1506318095542{width:100%;position:absolute;top:30px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#newsDetail_style_01_1506318095542{width:96%;left:2.014846235418876%;}}   @media screen and (max-width:640px) {#newsDetail_style_01_1506318095542{width:96%;top:0px;left:2%;}}  @media screen and (max-width:640px) { #newsDetail_style_01_1506318095542 .titleSet {font-size:24px;color:#555555;}} #layout_diy_1484042021{height:369px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_diy_1484042021{height:369px;}}   @media screen and (max-width:640px) {#layout_diy_1484042021{height:315px;}} #layout_diy_1484042021 > .view_contents{max-width:1200px;} 
 #layout_1506318122695{height:60px;}   @media screen and (min-width:641px) and (max-width:1200px) {#layout_1506318122695{}}   @media screen and (max-width:640px) {#layout_1506318122695{height:33px;}} #layout_1506318122695 > .view_contents{overflow:visible;max-width:1200px;} 


 #dh_style_28_1566209351260{width:60%;z-index:999;position:absolute;top:143px;left:20%;}   @media screen and (min-width:641px) and (max-width:1200px) {#dh_style_28_1566209351260{z-index:999;left:20.0424178154825%;top:124px;}}   @media screen and (max-width:640px) {#dh_style_28_1566209351260{width:96%;z-index:999;top:271px;left:2%;display:none;}} #dh_style_28_1566209351260 > .view_contents{overflow:visible;}  #dh_style_28_1566209351260 .mainMenuSet {color:#7f7f7f;font-size:14px;font-weight:normal;} #dh_style_28_1566209351260 .mainMenuSet:hover {color:#7f7f7f;} #dh_style_28_1566209351260 #hot>a {color:#7f7f7f;}

 #text_style_01_1566209440499{width:100%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:221px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1566209440499{left:0%;top:190px;}}   @media screen and (max-width:640px) {#text_style_01_1566209440499{width:96%;font-size:12px;color:#333;line-height:1.6;top:17px;left:2%;}}  #text_style_01_1566209440499>.view_contents {text-align:center;color:#7f7f7f;font-size:14px;}

 #image_style_01_1566209075656{width:36px;height:36px;position:absolute;top:78px;left:15.958333333333332%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1566209075656{left:7.474483032873808%;top:63px;}}   @media screen and (max-width:640px) {#image_style_01_1566209075656{width:36px;height:36px;top:28px;left:45.2%;display:none;}} #image_style_01_1566209075656 > .view_contents{overflow:visible;} 

 #text_style_01_1566209122223{width:20.75%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:82px;left:19.875%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1566209122223{left:11.389846235418876%;top:67px;}}   @media screen and (max-width:640px) {#text_style_01_1566209122223{width:96%;font-size:12px;color:#333;line-height:1.6;top:166px;left:2%;display:none;}}  #text_style_01_1566209122223>.view_contents {color:#7f7f7f;font-size:16px;}

 #image_style_01_1566209181663{width:36px;height:36px;position:absolute;top:78px;left:41.125%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1566209181663{left:34.76106839872747%;top:63px;}}   @media screen and (max-width:640px) {#image_style_01_1566209181663{width:36px;height:36px;top:74px;left:45.2%;display:none;}} #image_style_01_1566209181663 > .view_contents{overflow:visible;} 

 #text_style_01_1566209210532{width:20.75%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:82px;left:45.375%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1566209210532{width:307px;left:39.43531283138918%;top:67px;}}   @media screen and (max-width:640px) {#text_style_01_1566209210532{width:96%;font-size:12px;color:#333;line-height:1.6;top:201px;left:2%;display:none;}}  #text_style_01_1566209210532>.view_contents {color:#7f7f7f;font-size:16px;}

 #image_style_01_1566209197370{width:36px;height:36px;position:absolute;top:78px;left:69.79166666666666%;}   @media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1566209197370{left:65.54878048780488%;top:63px;}}   @media screen and (max-width:640px) {#image_style_01_1566209197370{width:36px;height:36px;top:120px;left:45.2%;display:none;}} #image_style_01_1566209197370 > .view_contents{overflow:visible;} 

 #text_style_01_1566209263162{width:20.75%;font-size:16px;color:#333;line-height:1.8;font-family:Microsoft YaHei;position:absolute;top:82px;left:73.70833333333333%;}   @media screen and (min-width:641px) and (max-width:1200px) {#text_style_01_1566209263162{width:247.9375px;left:70.20645546129374%;top:67px;}}   @media screen and (max-width:640px) {#text_style_01_1566209263162{width:96%;font-size:12px;color:#333;line-height:1.6;top:236px;left:2%;display:none;}}  #text_style_01_1566209263162>.view_contents {color:#7f7f7f;font-size:16px;}

 #qqol_style_05_1566356607109{width:17.5%;position:absolute;top:0px;left:0%;}   @media screen and (min-width:641px) and (max-width:1200px) {#qqol_style_05_1566356607109{left:0%;}}   @media screen and (max-width:640px) {#qqol_style_05_1566356607109{width:96%;top:0px;left:2%;display:none;}} #qqol_style_05_1566356607109 > .view_contents{overflow:visible;}  #comm_layout_footer{height:276px;z-index:99999;}   @media screen and (min-width:641px) and (max-width:1200px) {#comm_layout_footer{height:232px;}}   @media screen and (max-width:640px) {#comm_layout_footer{height:56px;}} #comm_layout_footer > .view_contents{max-width:1200px;overflow:visible;}  #comm_layout_footer  {background:#2b2b2b;}
/*菜单样式*/
.menuStyle_28{width:100%; position:relative;}
.menuStyle_28 *{box-sizing: border-box;}
.menuStyle_28 .miniMenu *,
.menuStyle_28 .menuUl li *{
	-webkit-transition-duration:.2s; -moz-transition-duration:.2s; -o-transition-duration:.2s; transition-duration:.2s;
	-webkit-transition-property:background,height,padding; -moz-transition-property:background,height,padding; -moz-transition-property:background,height,padding; transition-property:background,height,padding;
	-webkit-transition-timing-function:ease-out; -moz-transition-timing-function:ease-out; -o-transition-timing-function:ease-out; transition-timing-function:ease-out;
}
.menuStyle_28 .dflex{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.menuStyle_28 .rflex{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; float: left\0;}
.menuStyle_28 ul,.menuStyle_28 li{padding:0;margin:0px;list-style:none}
.menuStyle_28 .menuLayout{position:relative; margin:0 auto;width:100%;}
.menuStyle_28 .menuLayout:after{content:''; display:block; clear:both;}
.menuStyle_28 .menuUl_box{position:relative; width:100%; text-align:center;}
.menuStyle_28 .menuUl{position:relative; width:100%; text-align:center;}
.menuStyle_28 .menuUl>li{position:relative;}
.menuStyle_28 .menuUl>li>a{ background: rgba(0,0,0,0.0); position: relative; text-decoration:none;font-size:16px;font-weight: bold; box-sizing:border-box; display:block;text-align:center; letter-spacing:normal; white-space:nowrap; color: #17233d; line-height:44px; padding: 0; padding: 0 1em\0;}
.menuStyle_28 .menuUl>li>a:hover{ color:#750406;}
.menuStyle_28 .menuUl #hot>a{color:#750406;}
.menuStyle_28 .menuUl>li>a span{display:block; width: 100%; text-align: center; color: rgba(0,0,0,.3); font-size: 12px;}
.menuStyle_28 .menuUl #hot>a span{color:inherit;}
/*.menuStyle_28 .menuUl>li>a i{position: absolute; right: 10px; top: 50%; -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%);}*/
.menuStyle_28 .menuLayout .miniMenu{display:none;}
.menuStyle_28 .menuUl02 {position: absolute; left: 50%; opacity: 0; display: none; width: 100%; height: 0; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); -moz-transform: translate(-50%,0); -o-transform: translate(-50%,0);}
.menuStyle_28 .menuUl>li>#menuLogo{height: 85%;}

.menuStyle_28 .menuUl .rflex:hover .menuUl02{opacity: 1; display: block; height: auto;padding-top: 10px;}
.menuStyle_28 .menuUl.noHover .rflex:hover .menuUl02{display: none;}

.menuStyle_28 .menuUl02 .subMenu02 {position: relative;  color: #4d5158; font-size:14px; line-height: 40px; padding: 0 15px;background: #fff;}
.menuStyle_28 .menuUl02 .subMenu02.subCurSet{color:#750406;}
.menuStyle_28 .menuUl02 .subMenu02>a { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;color: inherit; font-size:inherit; line-height: inherit;}
.menuStyle_28 .menuUl02 .subMenu02:hover {color:#750406;border-left: 2px solid #750406;background: #f7f7f7;}
.menuStyle_28 .menuUl02 .subMenu02>a .fa{float: right; line-height: inherit;}
.menuStyle_28 .menuUl02 .subMenu02:hover .menuUl03{display: block;}
.menuStyle_28 .menuUl02 .subMenu02:first-child{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.menuStyle_28 .menuUl02 .subMenu02:last-child{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.menuStyle_28 .menuUl03{position: absolute; /*left需要js获取二级的宽*/ top: 0; left: 100%; display: none; }
.menuStyle_28 .menuUl03 .subMenu03{ line-height: 40px;margin-left: 10px;}
.menuStyle_28 .menuUl03 .subMenu03 a:hover{color:#750406; background: #f7f7f7;}
.menuStyle_28 .menuUl03 .subMenu03>a{ color: #17233d; background: #fff; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding: 0 15px;}
.menuStyle_28 .menuUl03 .subMenu03:first-child a{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.menuStyle_28 .menuUl03 .subMenu03:last-child a{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.menuStyle_28 .menuUl .rflex:hover .menuUl02::before{
	content: '';
	border-top:5px solid transparent;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #fff;
	position: absolute;
    top: 0px;
	transform: translateX(-50%);
}
.menuStyle_28 .menuUl02 .arrow:hover::before{
		content: '';
		border-top:5px solid transparent;
		border-left:5px solid #fff;
		border-right:5px solid transparent;
		border-bottom:5px solid transparent;
		position: absolute;
		right: -10px;
		top: 50%;
		transform: translateY(-50%);
}
.menuStyle_28 .rflex { position: relative;}
.menuStyle_28 .maxWidth{margin: auto;}
/* .menuStyle_28 .menuUl03 .subMenu03 .thrCurSet{background: rgba(0, 0, 0, 0.1);} */

.menuStyle_28 .subBox{position: absolute; left: 0; /*top通过JS获取菜单高度*/ width: 100%; background: rgba(238, 238, 238, 0.85); display: none;}
.menuStyle_28 .subBox .subBoxContent{padding: 15px; text-align: left; overflow: hidden;}
.menuStyle_28 .subBox .subBoxContent .subItems{overflow: hidden; display: none;}
.menuStyle_28 .subBox .sublm{float: left; width: calc(100% - 440px); min-height: 10px;}
.menuStyle_28 .subBox .sublm>div{clear: both; overflow: hidden; margin: 8px 0;}
.menuStyle_28 .subBox .subImgsbox{float: left; width: 440px;/*这个宽可被设置*/ height: 160px;}
.menuStyle_28 .subBox .subImgsbox>a{display: block; height: 100%; float: right; width: calc((100% - 20px)/2); margin-left: 20px;}
.menuStyle_28 .subBox .subImgsbox>a:last-child{margin-left: 0;}
.menuStyle_28 .subBox .subImgsbox>a>div.subImg{ position: relative; height: 100%; overflow: hidden; background-repeat: no-repeat; background-size: cover !important;}
.menuStyle_28 .subBox .subImgsbox>a>div.subImg span{position: absolute; bottom: 0; left: 0; width: 100%; display: block; padding: 5px; background: rgba(255,255,255,.8); color: #17233d; font-size: 12px;}
.menuStyle_28 .subBox p{overflow: hidden; float: left;}
.menuStyle_28 .subBox p:first-child{margin-right: 10px; width: 100px;}
.menuStyle_28 .subBox p:last-child{width: calc(100% - 110px);}
.menuStyle_28 .subBox .subMenu02{font-size: 14px; margin-bottom: 5px; clear: both; color: #17233d; line-height: 28px;}
.menuStyle_28 .subBox .subMenu02.subCurSet{color: #750406;}
.menuStyle_28 .subBox .subMenu02:hover,
.menuStyle_28 .subBox .subMenu02:active{color: #750406;}
.menuStyle_28 .subBox .subMenu03{float: left; margin: 5px 20px 5px 0; font-size: 12px; color: #666;}
.menuStyle_28 .subBox .subMenu03:hover,
.menuStyle_28 .subBox .subMenu03:active{color: #750406;}
.menuStyle_28 .subMenu03 .thrCurSet{color: #750406 !important; background: #f7f7f7 !important;}


/*图标*/
.menuStyle_28 .imgIco{vertical-align: middle; display:inline-block; overflow:hidden; position:relative; padding:15px;  box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.menuStyle_28 .imgIco img{width:auto; height:100%; vertical-align: top;  position:absolute; top:50%; left:50%;  transform:translateY(-50%) translateX(-50%); -webkit-transform:translateY(-50%) translateX(-50%); -moz-transform:translateY(-50%) translateX(-50%); -ms-transform:translateY(-50%) translateX(-50%); -o-transform:translateY(-50%);}




@media screen and (max-width:640px) {
.menuStyle_28 .imgIco{ margin-right:10px;}
.menuStyle_28 .menuUl,
.menuStyle_28 .menuUl_box {display:none;}
.menuStyle_28 .menuScroll{height: calc(100% - 100px); width: 100%;}
.menuStyle_28 .menuScroll>.menuUlCopy{width:100%; height: 100%; overflow-x: hidden; overflow-y: scroll; }
.menuStyle_28 .menuLayout .miniMenu{display:block; position:relative; overflow:hidden; width: 100%; height:44px;}
.menuStyle_28 .miniMenu .leftBox{height: 100%;}
.menuStyle_28 .miniMenu .leftBox .sidebar{font-size:24px; line-height:44px; font-weight:normal;cursor:pointer;color:#4d5158; position:absolute; top:0; right:0px; width:44px; text-align:center;}
.menuStyle_28 .miniMenu .leftBox .sidebar .fa{font-size: inherit; line-height: inherit; color: inherit;}
.menuStyle_28 .miniMenu .leftBox .nav{width:100%; height:44px; }
.menuStyle_28 .miniMenu.Mslide .leftBox .nav{border-bottom: 1px solid rgba(0,0,0,.05);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy{padding:0 0 0 30px; clear: both;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy .menuUlCopy{display: none;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li{width:100%; overflow: hidden; color:#fff; font-size:12px; line-height:44px;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li a{width:calc(100% - 50px); float: left; display:block; text-align:left;color:inherit; text-decoration:none; font-size:inherit; line-height:inherit; height: inherit; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;border-bottom:1px solid rgba(0,0,0,.2);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li#hot>a{border-bottom: 1px solid #fff;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li .fa{color: inherit; font-size: inherit; float: left; width: 50px; text-align: center; line-height: inherit; background: rgba(0, 0, 0, 0.1);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li .fa:active{background: rgba(0,0,0,.3);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li.subMenuSet.subCurSet>a,
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li.thrMenuSet.thrCurSet>a{border-bottom: 1px solid #fff;}
.menuStyle_28 .menuLayout .miniMenu.Mslide{height:100% !important; height:100vh !important; background:rgba(23, 25, 29, 0.95); position: fixed; width: 100%; top: 0; left: 0; -webkit-transition: all linear .3s; -moz-transition: all linear .3s; -o-transition: all linear .3s; transition: all linear .3s;}
.menuStyle_28 .menuLayout .miniMenu.Mslide .sidebar{color:#fff; background: rgba(0,0,0,.05);}
.menuStyle_28 .menuLayout .miniMenu.Mslide .nav a{display:none !important;}
}


	
#dh_style_28_1566206800260 .menuUl02 .subMenu02>a .fa{position: absolute;top: 0;right: 0;}

@media screen and (min-width:640px) {
	#dh_style_28_1566206800260 .maxWidth{max-width:px;}
	#dh_style_28_1566206800260 .subBox .sublm{width: calc(100% - (px + px) - 20px);} /*20px是两张图片间的间距*/
	#dh_style_28_1566206800260 .subBox .subImgsbox{width: calc((px + px) + 20px); height:px } /*20px是两张图片间的间距*/
	/* .menuUl>li>#menuLogo 这种查找会失败改为下面这种 2019.5.29 */
	#dh_style_28_1566206800260 .menuUl li #menuLogo{
		height: px;
		margin-right: px;
		margin-left: px;
	}
}
.logoStyle *{box-sizing: border-box;}
.logoStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.logoStyle>a{overflow: hidden; width: 100%;height: 100%; display: block;}
.logoName{white-space: nowrap;} 
/* position: relative;top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); float: right;*/
/*新闻详情样式*/

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}

.LNewsCon .xinxi{white-space: nowrap;}
.newsText .dv-pagination .dv-link{float:left; display:inline-block; padding:0 .5em; margin:0 .25em; border:1px solid #ccc;}
.newsText .dv-pagination .dv-link.current{font-weight:bold}
.backNews,.nextNews{box-sizing:border-box;}

@media screen and (max-width:640px) {
.backNews{width:44% !important;padding-left:5% !important;}
.nextNews{width:44% !important;padding-right:5% !important;}
.LNewsCon img{max-width:100%!important;height:auto!important;}
}
.LNewsCon { width: 100%; float: left; overflow: hidden;}
.LNewsCon img{max-width: 100%;}
.LNewsCon .newsBigTit { font-size: 36px; color: #333; margin-bottom: 20px; text-align: center;}
.LNewsCon .smallC { text-align: center;}
.LNewsCon .smallC font { text-align: center; color: #999; padding: 0 15px;}
.LNewsCon .abstract { width: 100%; position: relative; border: 1px solid #e1e1e7; margin: 30px auto; overflow: hidden; box-sizing:border-box; padding: 18px; border-left: 4px solid #e1e1e7;}
.LNewsCon .newsMoreA { width: 90%; height: 50px; margin: 30px auto; border: 1px solid #efefef; box-sizing:border-box;}
.LNewsCon .newsText{padding: 10px; height: auto !important; box-sizing: border-box;}
.LNewsCon .songti { font-family: Verdana, Tahoma, 宋体; font-size: 12px;}
.backNews { text-align: left; height: 50px; line-height: 50px; padding-left: 20px; width: 45%; float: left; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; color: #999;}
.newsMoreA a { font-size: 12px; color: #999;}
.nextNews { text-align: right; height: 50px; line-height: 50px; padding-right: 20px; width: 45%; float: right; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; color: #999;}

        /*菜单样式*/
.menuStyle_28{width:100%; position:relative;}
.menuStyle_28 *{box-sizing: border-box;}
.menuStyle_28 .miniMenu *,
.menuStyle_28 .menuUl li *{
	-webkit-transition-duration:.2s; -moz-transition-duration:.2s; -o-transition-duration:.2s; transition-duration:.2s;
	-webkit-transition-property:background,height,padding; -moz-transition-property:background,height,padding; -moz-transition-property:background,height,padding; transition-property:background,height,padding;
	-webkit-transition-timing-function:ease-out; -moz-transition-timing-function:ease-out; -o-transition-timing-function:ease-out; transition-timing-function:ease-out;
}
.menuStyle_28 .dflex{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.menuStyle_28 .rflex{-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1; float: left\0;}
.menuStyle_28 ul,.menuStyle_28 li{padding:0;margin:0px;list-style:none}
.menuStyle_28 .menuLayout{position:relative; margin:0 auto;width:100%;}
.menuStyle_28 .menuLayout:after{content:''; display:block; clear:both;}
.menuStyle_28 .menuUl_box{position:relative; width:100%; text-align:center;}
.menuStyle_28 .menuUl{position:relative; width:100%; text-align:center;}
.menuStyle_28 .menuUl>li{position:relative;}
.menuStyle_28 .menuUl>li>a{ background: rgba(0,0,0,0.0); position: relative; text-decoration:none;font-size:16px;font-weight: bold; box-sizing:border-box; display:block;text-align:center; letter-spacing:normal; white-space:nowrap; color: #17233d; line-height:44px; padding: 0; padding: 0 1em\0;}
.menuStyle_28 .menuUl>li>a:hover{ color:#750406;}
.menuStyle_28 .menuUl #hot>a{color:#750406;}
.menuStyle_28 .menuUl>li>a span{display:block; width: 100%; text-align: center; color: rgba(0,0,0,.3); font-size: 12px;}
.menuStyle_28 .menuUl #hot>a span{color:inherit;}
/*.menuStyle_28 .menuUl>li>a i{position: absolute; right: 10px; top: 50%; -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%);}*/
.menuStyle_28 .menuLayout .miniMenu{display:none;}
.menuStyle_28 .menuUl02 {position: absolute; left: 50%; opacity: 0; display: none; width: 100%; height: 0; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); -moz-transform: translate(-50%,0); -o-transform: translate(-50%,0);}
.menuStyle_28 .menuUl>li>#menuLogo{height: 85%;}

.menuStyle_28 .menuUl .rflex:hover .menuUl02{opacity: 1; display: block; height: auto;padding-top: 10px;}
.menuStyle_28 .menuUl.noHover .rflex:hover .menuUl02{display: none;}

.menuStyle_28 .menuUl02 .subMenu02 {position: relative;  color: #4d5158; font-size:14px; line-height: 40px; padding: 0 15px;background: #fff;}
.menuStyle_28 .menuUl02 .subMenu02.subCurSet{color:#750406;}
.menuStyle_28 .menuUl02 .subMenu02>a { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;color: inherit; font-size:inherit; line-height: inherit;}
.menuStyle_28 .menuUl02 .subMenu02:hover {color:#750406;border-left: 2px solid #750406;background: #f7f7f7;}
.menuStyle_28 .menuUl02 .subMenu02>a .fa{float: right; line-height: inherit;}
.menuStyle_28 .menuUl02 .subMenu02:hover .menuUl03{display: block;}
.menuStyle_28 .menuUl02 .subMenu02:first-child{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.menuStyle_28 .menuUl02 .subMenu02:last-child{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.menuStyle_28 .menuUl03{position: absolute; /*left需要js获取二级的宽*/ top: 0; left: 100%; display: none; }
.menuStyle_28 .menuUl03 .subMenu03{ line-height: 40px;margin-left: 10px;}
.menuStyle_28 .menuUl03 .subMenu03 a:hover{color:#750406; background: #f7f7f7;}
.menuStyle_28 .menuUl03 .subMenu03>a{ color: #17233d; background: #fff; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding: 0 15px;}
.menuStyle_28 .menuUl03 .subMenu03:first-child a{
	border-top-left-radius: 0px;border-top-right-radius: 0px;
}
.menuStyle_28 .menuUl03 .subMenu03:last-child a{
	border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;
}
.menuStyle_28 .menuUl .rflex:hover .menuUl02::before{
	content: '';
	border-top:5px solid transparent;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #fff;
	position: absolute;
    top: 0px;
	transform: translateX(-50%);
}
.menuStyle_28 .menuUl02 .arrow:hover::before{
		content: '';
		border-top:5px solid transparent;
		border-left:5px solid #fff;
		border-right:5px solid transparent;
		border-bottom:5px solid transparent;
		position: absolute;
		right: -10px;
		top: 50%;
		transform: translateY(-50%);
}
.menuStyle_28 .rflex { position: relative;}
.menuStyle_28 .maxWidth{margin: auto;}
/* .menuStyle_28 .menuUl03 .subMenu03 .thrCurSet{background: rgba(0, 0, 0, 0.1);} */

.menuStyle_28 .subBox{position: absolute; left: 0; /*top通过JS获取菜单高度*/ width: 100%; background: rgba(238, 238, 238, 0.85); display: none;}
.menuStyle_28 .subBox .subBoxContent{padding: 15px; text-align: left; overflow: hidden;}
.menuStyle_28 .subBox .subBoxContent .subItems{overflow: hidden; display: none;}
.menuStyle_28 .subBox .sublm{float: left; width: calc(100% - 440px); min-height: 10px;}
.menuStyle_28 .subBox .sublm>div{clear: both; overflow: hidden; margin: 8px 0;}
.menuStyle_28 .subBox .subImgsbox{float: left; width: 440px;/*这个宽可被设置*/ height: 160px;}
.menuStyle_28 .subBox .subImgsbox>a{display: block; height: 100%; float: right; width: calc((100% - 20px)/2); margin-left: 20px;}
.menuStyle_28 .subBox .subImgsbox>a:last-child{margin-left: 0;}
.menuStyle_28 .subBox .subImgsbox>a>div.subImg{ position: relative; height: 100%; overflow: hidden; background-repeat: no-repeat; background-size: cover !important;}
.menuStyle_28 .subBox .subImgsbox>a>div.subImg span{position: absolute; bottom: 0; left: 0; width: 100%; display: block; padding: 5px; background: rgba(255,255,255,.8); color: #17233d; font-size: 12px;}
.menuStyle_28 .subBox p{overflow: hidden; float: left;}
.menuStyle_28 .subBox p:first-child{margin-right: 10px; width: 100px;}
.menuStyle_28 .subBox p:last-child{width: calc(100% - 110px);}
.menuStyle_28 .subBox .subMenu02{font-size: 14px; margin-bottom: 5px; clear: both; color: #17233d; line-height: 28px;}
.menuStyle_28 .subBox .subMenu02.subCurSet{color: #750406;}
.menuStyle_28 .subBox .subMenu02:hover,
.menuStyle_28 .subBox .subMenu02:active{color: #750406;}
.menuStyle_28 .subBox .subMenu03{float: left; margin: 5px 20px 5px 0; font-size: 12px; color: #666;}
.menuStyle_28 .subBox .subMenu03:hover,
.menuStyle_28 .subBox .subMenu03:active{color: #750406;}
.menuStyle_28 .subMenu03 .thrCurSet{color: #750406 !important; background: #f7f7f7 !important;}


/*图标*/
.menuStyle_28 .imgIco{vertical-align: middle; display:inline-block; overflow:hidden; position:relative; padding:15px;  box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.menuStyle_28 .imgIco img{width:auto; height:100%; vertical-align: top;  position:absolute; top:50%; left:50%;  transform:translateY(-50%) translateX(-50%); -webkit-transform:translateY(-50%) translateX(-50%); -moz-transform:translateY(-50%) translateX(-50%); -ms-transform:translateY(-50%) translateX(-50%); -o-transform:translateY(-50%);}




@media screen and (max-width:640px) {
.menuStyle_28 .imgIco{ margin-right:10px;}
.menuStyle_28 .menuUl,
.menuStyle_28 .menuUl_box {display:none;}
.menuStyle_28 .menuScroll{height: calc(100% - 100px); width: 100%;}
.menuStyle_28 .menuScroll>.menuUlCopy{width:100%; height: 100%; overflow-x: hidden; overflow-y: scroll; }
.menuStyle_28 .menuLayout .miniMenu{display:block; position:relative; overflow:hidden; width: 100%; height:44px;}
.menuStyle_28 .miniMenu .leftBox{height: 100%;}
.menuStyle_28 .miniMenu .leftBox .sidebar{font-size:24px; line-height:44px; font-weight:normal;cursor:pointer;color:#4d5158; position:absolute; top:0; right:0px; width:44px; text-align:center;}
.menuStyle_28 .miniMenu .leftBox .sidebar .fa{font-size: inherit; line-height: inherit; color: inherit;}
.menuStyle_28 .miniMenu .leftBox .nav{width:100%; height:44px; }
.menuStyle_28 .miniMenu.Mslide .leftBox .nav{border-bottom: 1px solid rgba(0,0,0,.05);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy{padding:0 0 0 30px; clear: both;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy .menuUlCopy{display: none;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li{width:100%; overflow: hidden; color:#fff; font-size:12px; line-height:44px;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li a{width:calc(100% - 50px); float: left; display:block; text-align:left;color:inherit; text-decoration:none; font-size:inherit; line-height:inherit; height: inherit; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;border-bottom:1px solid rgba(0,0,0,.2);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li#hot>a{border-bottom: 1px solid #fff;}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li .fa{color: inherit; font-size: inherit; float: left; width: 50px; text-align: center; line-height: inherit; background: rgba(0, 0, 0, 0.1);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li .fa:active{background: rgba(0,0,0,.3);}
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li.subMenuSet.subCurSet>a,
.menuStyle_28 .miniMenu .leftBox .menuUlCopy li.thrMenuSet.thrCurSet>a{border-bottom: 1px solid #fff;}
.menuStyle_28 .menuLayout .miniMenu.Mslide{height:100% !important; height:100vh !important; background:rgba(23, 25, 29, 0.95); position: fixed; width: 100%; top: 0; left: 0; -webkit-transition: all linear .3s; -moz-transition: all linear .3s; -o-transition: all linear .3s; transition: all linear .3s;}
.menuStyle_28 .menuLayout .miniMenu.Mslide .sidebar{color:#fff; background: rgba(0,0,0,.05);}
.menuStyle_28 .menuLayout .miniMenu.Mslide .nav a{display:none !important;}
}


	
#dh_style_28_1566209351260 .menuUl02 .subMenu02>a .fa{position: absolute;top: 0;right: 0;}

@media screen and (min-width:640px) {
	#dh_style_28_1566209351260 .maxWidth{max-width:px;}
	#dh_style_28_1566209351260 .subBox .sublm{width: calc(100% - (px + px) - 20px);} /*20px是两张图片间的间距*/
	#dh_style_28_1566209351260 .subBox .subImgsbox{width: calc((px + px) + 20px); height:px } /*20px是两张图片间的间距*/
	/* .menuUl>li>#menuLogo 这种查找会失败改为下面这种 2019.5.29 */
	#dh_style_28_1566209351260 .menuUl li #menuLogo{
		height: px;
		margin-right: px;
		margin-left: px;
	}
}

	#image_style_01_1566209075656 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1566209075656 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1566209075656 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1566209075656 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1566209181663 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1566209181663 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1566209181663 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1566209181663 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}

	#image_style_01_1566209197370 .CompatibleImg img{width:100%; height:100%}@media screen and (min-width:641px) and (max-width:1200px) {#image_style_01_1566209197370 .CompatibleImg img{width:100%; height:100%}}@media screen and (max-width:640px) {#image_style_01_1566209197370 .CompatibleImg img{width:100%; height:100%}}
#image_style_01_1566209197370 a{
	cursor: default;
}

.imgStyle { height:100%; width:100%; overflow: hidden; box-sizing: border-box;}
.imgStyle>a{overflow: hidden; width: 100%; height: 100%;}
.imgStyle img{box-sizing: border-box;}
.onlineStyle05 .main_box{ position: fixed; box-shadow: 0px 0px 15px rgba(0,0,0,.2); top: 50%; z-index: 100000000; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%);}
.onlineStyle05 .main_box .box_main_content{ background: #fff;}
.onlineStyle05 .interval{ height: 1px; background: #ccc; margin: 0 10px;}
.onlineStyle05 .item_box{ position: relative;}
.onlineStyle05 .item_box:hover .show_box{ display: block;}
.onlineStyle05 .item{ width: 16px; text-align: center; padding: 10px; margin: 7px 0; color: #808080;}
.onlineStyle05 .item .img{ background-repeat: no-repeat; width: 100%; height: 16px; background-size: 100% !important;}
.onlineStyle05 .item:hover{ background: rgb(42,140,240); color: #fff;}
.onlineStyle05 .item .text{ line-height: 1.2; font-size: 14px; margin-top: 5px; }

.onlineStyle05 .item .phone_icon{ background-image: url(../img/qqol/style_05/kefu_pc_gray.png);}
.onlineStyle05 .item:hover .phone_icon{ background-image: url(../img/qqol/style_05/kefu_pc_white.png);}

.onlineStyle05 .item .time_icon{ background-image: url(../img/qqol/style_05/time_pc_gray.png);}
.onlineStyle05 .item:hover .time_icon{ background-image: url(../img/qqol/style_05/time_pc_white.png);}

.onlineStyle05 .item .qr_icon{ background-image: url(../img/qqol/style_05/qr_pc_gray.png);}
.onlineStyle05 .item:hover .qr_icon{ background-image: url(../img/qqol/style_05/qr_pc_white.png);}

.onlineStyle05 .show_box{ display: none; position: absolute; right: 100%; top: 0; width: 220px; padding-bottom: 20px; }
.onlineStyle05 .show_box .contant{ background: rgb(42,140,240); border-radius: 10px 0 10px 10px; padding-bottom: 20px; max-height: 300px; overflow-y: scroll; overflow-x: hidden;}
.onlineStyle05 .show_box .contant::-webkit-scrollbar{ display: none;}
.onlineStyle05 .show_box .li_item{ padding: 12px 10px; overflow: hidden; border-bottom: 1px dashed rgba(255,255,255,.5); color: #fff; font-size: 14px; margin: 0 15px;}
.onlineStyle05 .show_box .li_item:last-of-type{ border-bottom: none;}
.onlineStyle05 .show_box .title{ border-bottom: 1px solid rgba(255,255,255,.5); text-align: center; padding: 14px 0; color: #fff; font-size: 14px;}
.onlineStyle05 .show_box .icon{ float: left; margin-top: 5px; vertical-align: top; width: 16px; height: 16px;}
.onlineStyle05 .show_box .icon .img{ width: 100%; height: 100%; background-repeat: no-repeat; background-size: 100%;}
.onlineStyle05 .show_box .text_contant{ float: left;  padding-left: 10px; width: calc( 100% - 16px); box-sizing: border-box; text-overflow: ellipsis; overflow: hidden;}
.onlineStyle05 .show_box .text_contant div{ word-break: break-all;}
.onlineStyle05 a{ color: #fff;}

.onlineStyle05 .show_box .icon .list_phone_icon{ background-image: url(../img/qqol/style_05/phone_pc.png);}
.onlineStyle05 .show_box .icon .list_wx_icon{ background-image: url(../img/qqol/style_05/wx_pc.png);}
.onlineStyle05 .show_box .icon .list_qq_icon{ background-image: url(../img/qqol/style_05/qq_pc.png);}
.onlineStyle05 .show_box .icon .list_mail_icon{ background-image: url(../img/qqol/style_05/mail_pc.png);}

.onlineStyle05 .time .contant{ color: #fff; border-radius: 50px 0 0 50px; padding: 0; height: 36px; text-align: center; line-height: 36px; font-size: 14px;}

.onlineStyle05 .qrcode .contant{ border-radius:10px 0 0 10px; padding: 20px 0 15px; text-align: center;}
.onlineStyle05 .qrcode .qrcode_img{ width: 135px; height: 135px; overflow: hidden; margin: 0 auto;}
.onlineStyle05 .qrcode .qrcode_img img{ width: 100%; }
.onlineStyle05 .qrcode .qr_text{ color: #fff; font-size: 16px; margin-top: 20px;}

@media screen and (max-width:640px) {
    .onlineStyle05 .item .phone_icon{ background-image: url(../img/qqol/style_05/kefu_mobile_gray.png);}
    .onlineStyle05 .item:hover .phone_icon{ background-image: url(../img/qqol/style_05/kefu_mobile_white.png);}

    .onlineStyle05 .item .time_icon{ background-image: url(../img/qqol/style_05/time_mobile_gray.png);}
    .onlineStyle05 .item:hover .time_icon{ background-image: url(../img/qqol/style_05/time_mobile_white.png);}

    .onlineStyle05 .item .qr_icon{ background-image: url(../img/qqol/style_05/qr_mobile_gray.png);}
    .onlineStyle05 .item:hover .qr_icon{ background-image: url(../img/qqol/style_05/qr_mobile_white.png);}

    .onlineStyle05 .show_box .icon .list_phone_icon{ background-image: url(../img/qqol/style_05/phone_mobile.png);}
    .onlineStyle05 .show_box .icon .list_wx_icon{ background-image: url(../img/qqol/style_05/wx_mobile.png);}
    .onlineStyle05 .show_box .icon .list_qq_icon{ background-image: url(../img/qqol/style_05/qq_mobile.png);}
    .onlineStyle05 .show_box .icon .list_mail_icon{ background-image: url(../img/qqol/style_05/mail_mobile.png);}
}
    #qqol_style_05_1566356607109 .contant{ background: #b9995a;}

            #qqol_style_05_1566356607109 .main_box{ right: 0;}
        #qqol_style_05_1566356607109 .show_box{ right: 100%;}
        #qqol_style_05_1566356607109 .show_box .contant{ border-radius: 10px 0 10px 10px;}
        #qqol_style_05_1566356607109 .time .contant{ border-radius: 50px 0 0 50px;}
        #qqol_style_05_1566356607109 .qrcode .contant{ border-radius:10px 0 0 10px;}
        #qqol_style_05_1566356607109 .item:hover{ background: #b9995a;}
    #qqol_style_05_1566356607109 .show_box{width: 220px;}


				.bottomMenu{width: 100%; box-sizing:border-box; display: none;position:fixed;bottom:0;z-index:999999}
				.bottomMenu ul{position: relative; box-sizing: border-box; width: 100%; height: 50px; background-color: #FFFFFF; border-top: 1px solid #ddd; box-shadow: 0 0px 6px rgba(0,0,0,.1); display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
				.bottomMenu ul li{position:relative; box-sizing: border-box; -webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
				.bottomMenu ul li .menuItem{position: relative;}
				.bottomMenu ul li .menuIco{width: 26px; height: 26px; overflow: hidden; margin: 0 auto 4px;}
				.bottomMenu ul li .menuIco img{width: 100%; height: 100%;padding:2px 1px 0;box-sizing:border-box;}
				.bottomMenu ul li .menuName{font-size: 12px; white-space: nowrap; margin: auto; text-align: center; color: #666666; line-height: 1;font-family:Microsoft YaHei;}
				.bottomMenu ul li .submenuItems{position: absolute; bottom: 48px; z-index:999999; width: 100%; text-align: center; border: 1px solid #ddd; background-color: #fff; box-shadow: 0 0px 6px rgba(0,0,0,.1);}
				.bottomMenu ul li .submenuItems a{display: block; height: 36px; line-height: 36px; font-size: 12px; color: #333; border-bottom: 1px solid #ddd; }
				@media screen and (max-width:767px) {
					.bottomMenu{display: block;}
					
					body{padding-bottom:55px!important;}
				}
				